html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#editInput{
    margin: auto;
    text-align: center;
    width: fit-content;
}
#editType{
    font-size: larger;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.inputLabel{
    display: inline-block;
    min-width: 10ch;
}
.input{
    width: fit-content;
    text-align: left;
}


.table{
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

.tableRow{
    min-width: 100%;
    height: 1.5em;
    text-align: center;
}

.tableRowEmpty{
    width: 1px;
    float: left;
}

.tableRowID{
    width: 5%;
    min-width: 3ch;
    float: left;
}
.tableRowGame{
    width: 25%;
    min-width: 100px;
    float: left;
}
.tableRowPoints{
    width: 5%;
    min-width: 7ch;
    float: left;
}
.tableRowWinner{
    width: 10%;
    min-width: 9ch;
    float: left;
}
.tableRowTime{
    width: 15%;
    min-width: 20ch;
    float: left;
}

.tableRowButton{
    width: 25%;
    float: left;
}